body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

button {
    background-color: #4682B4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 30px;
}

button:hover {
    background-color: #4682B4;
    margin-bottom: 10px;
    border-radius: 30px;
}

.completed {
    background: linear-gradient(120deg, #F0E68C, #4682B4);
    margin-bottom: 10px;
    border-radius: 30px;
}
